body {
    background: linear-gradient(to right, #FF9933, #138808);
    color: #fff;
} 

.menu{
    margin: -10px 0 0 -10px;
    height: 150px;
    width: 102%;
    background-color: black;
    color: whitesmoke;
    padding-top: 10px;
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    display: inline-flex;
    width: 70px;
    height: 25px;
    padding-left: 10px;
    margin-top: 3%;
    font-size: 20px;
    margin-right: 20px;
    color: whitesmoke;
}



